/* hasLayout */
.l-wrapper,
* HTML .b-contents .item,
.b-tab-links,
* HTML .b-slide,
* HTML .b-brands,
.b-about .desc,
.b-section {
	zoom: 1;
	}

/* Layout */
* HTML .l-back-layer {
	display: none;
	}

/* Global */
* HTML .g-png {
	filter: expression("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.firstChild.src + "', sizingMethod='image')");
	zoom: 1;
	}
* HTML .g-png IMG {
	behavior: expression(this.style.visibility="hidden");
	}
* HTML .g-png-link {
	cursor: pointer;
	}

/* Content blocks */
.b-circle-tab-links .item {
	display: inline;
	zoom: 1;
	}
* HTML .b-brands .item {
	display: inline;
	}
* HTML .b-about .message {
	display: inline;
	}
* HTML .b-previews .item {
	display: inline;
	}
	* HTML .b-previews .selected .image {
		position: relative;
		}

/* Form elements */
.b-wide-input {
	margin-right: 20px;
	zoom: 1;
	}
	.b-wide-input INPUT,
	.b-wide-input TEXTAREA,
	.b-wide-input SELECT {
		float: left;
		}
.b-submit {
	overflow: visible;
	}

/* Forms */
* HTML .b-feedback-form {
	width: 280px;
	overflow: hidden;
	}