/* hasLayout */
.l-wrapper,
* HTML .b-contents .item,
* HTML .b-slide,
* HTML .b-brands,
.b-about .desc,
.b-section {
	zoom: 1;
	}

/* Layout */
* HTML .l-back-layer {
	display: none;
	}

/* Global */
* HTML .g-png {
	filter: expression("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.firstChild.src + "', sizingMethod='image')");
	zoom: 1;
	}
* HTML .g-png IMG {
	behavior: expression(this.style.visibility="hidden");
	}
* HTML .g-png-link {
	cursor: pointer;
	}

/* Content blocks */
* HTML .b-brands .item {
	display: inline;
	}
* HTML .b-about .message {
	display: inline;
	}
* HTML .b-previews .item {
	display: inline;
	}
	* HTML .b-previews .selected .image {
		position: relative;
		}